{% extends "::base.html.twig" %}
{% block title %}Articles{% endblock %}
{% block header %}
    <header class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>SymfonyBlog</h1>
                        <hr class="small">
                        <span class="subheading">Simple Symfony Blog Website for Benchmarks</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% for post in posts %}
                    <div class="post-preview">
                        <a href="{{ url('post', {id: post.id}) }}">
                            <h2 class="post-title">{{ post.title }}</h2>
                            <h3 class="post-subtitle">Problems look mighty small from 150 miles up</h3>
                        </a>
                        <p class="post-meta">Posted by <a href="#">{{ post.author.username }}</a> on {{ post.createdDate|date('d-m-Y') }}</p>
                    </div>
                    <hr>
                {% endfor %}
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
